.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    background: #222;
    border-radius: 10px;
    padding: 20px;
    width: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    color: #fff;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.close-button {
    background: none;
    border: none;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
}

.modal-form label {
    display: block;
    margin-bottom: 5px;
    color: #aaa;
}

.modal-form input, .modal-form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #444;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
}

.modal-buttons {
    display: flex;
    justify-content: space-between;
}

.cancel-button {
    background-color: #808080;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.submit-button {
    background-color: #4f91ff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.cancel-button:hover {
    background-color: #7a7a7a;
}

.submit-button:hover {
    background-color: #80004a;
}
